<div class="project-page">
  <!-- Bouton retour (haut-gauche de la page) -->
  <%= link_to "â† Retour", root_path, class: "back-link" %>

  <div class="project-show">
    <% if @project.image.attached? %>
      <!-- ajuste le recadrage vertical avec --img-y (ex: 20%, 35%, 60%...) -->
      <div class="project-image-wrapper" style="--img-y: 30%;">
        <%= image_tag @project.image, alt: @project.name, class: "project-image" %>
      </div>
    <% end %>

    <div class="project-content">
      <h1 class="project-title"><%= @project.name %></h1>
      <p class="project-description"><%= @project.description %></p>
    </div>
  </div>

  <!-- Actions flottantes en bas-gauche de la page -->
  <div class="project-floating-actions">
    <% if current_user&.admin? %>
      <%= link_to "Modifier", edit_project_path(@project), class:"btn-modif" %>
    <% end %>
    <% if current_user&.admin? %>
      <%=
        button_to "Supprimer",
        project_path(@project),
        method: :delete,
        data: { turbo_confirm: "Supprimer ce projet ?" },
        class: "btn-delete"
      %>
    <% end %>
  </div>
</div>
